# Lecture-8 Tuples

Used to group data

### Tuple assignment or packing

In [1]:
student = (1, 'Jaisurya', 'Trichy')

In [2]:
print(student)

(1, 'Jaisurya', 'Trichy')

In [3]:
# indexed by integer value
print(student[1])

Jaisurya

### Immutable, you cannot modify

In [13]:
student[2]='jai'

TypeError: 'tuple' object does not support item assignment

In [14]:
pgstudent = () #empty tuple

In [15]:
temperatures = (40, 39, 40, 38, 35, 36, 41)
#slice it
wed_fri = temperatures[3:6]
print(wed_fri)

(38, 35, 36)

### Tuple Unpacking

In [16]:
(rollno, name, city) = student #equalant to multiple assignment statements

In [8]:
print('Roll No: ', rollno, ' Name: ', name, ' City: ', city)

Roll No:  1  Name:  Peter  City:  Trichy

In [11]:
# swapping values of two variables
a = 10
b = 20
(a, b) = (b, a)
# a, b = b, a
print(a, b)

20 10

### Tuples can return multiple values

In [19]:
import math

def circle_stats(r):
    """ Return (circumference, area) of a circle of radius r """
    circumference = 2 * math.pi * r
    area = math.pi * r * r
    return (circumference, area)

In [23]:
# call it
radius = 5.0
(c, a) = circle_stats(radius)
print('Circumference: %.3f Area: %.3f' %(c,a))

Circumference: 31.416 Area: 78.540

### Tuple items can be tuples too

In [24]:
student = (1, 'Tom', (85, 90, 95))

In [25]:
print(student[2])
print(len(student))

(85, 90, 95)
3

In [26]:
print(student[2][1])

90

### function to find average marks

In [27]:
def stud_avg(student):
    
    #unpack it
    roll, name, marks = student
    m1, m2, m3 = marks
    
    avg = (m1+ m2 + m3)/3
    print("Roll No: ", roll, ' Name:', name, ' Average: ', avg)

In [28]:
# call it
stud = (1, 'Sam', (85, 90, 95)) 
stud_avg(stud)

Roll No:  1  Name: Sam  Average:  90.0

### Tuple item can be a list

In [29]:
student = (1, 'Rex', [85, 90, 95])

In [30]:
print(student)

(1, 'Rex', [85, 90, 95])

In [32]:
len(student)

3

In [34]:
student[2][2]

95

#### Unpack a list

In [54]:
lst = [10,25,75]
m1, m2, m3 = lst # brackets are optional
print(m1, m2, m3)

10 25 75

### Modify stud_avg() to find average for the student tuple

In [43]:
def stud_avg2(student):
    
    #unpack it
    roll, name, marks = student

    total = 0
    for mark in marks:
        total += mark
    
    avg = total / len(marks)
    print("Roll No: ", roll, ' Name:', name, ' Average: ', avg)

In [44]:
# call it
student = (1, 'Rita', [85, 90, 95])
stud_avg2(student)

Roll No:  1  Name: Rita  Average:  90.0

In [45]:
# with many marks
stud2 = (2, 'Sweeta', [85, 90, 95, 80, 75])
stud_avg2(stud2)

Roll No:  2  Name: Sweeta  Average:  85.0

### You can create list of students

In [46]:
students_list = [(1, 'Rita', [85, 90, 95]), 
                 (2, 'Sweeta', [85, 90, 95, 80, 75]),
                 (3, 'Annette', [50, 60, 70, 80])]

In [40]:
print(students_list)

[(1, 'Rita', [85, 90, 95]), (2, 'Sweeta', [85, 90, 95, 80, 75]), (3, 'Annette', [50, 60, 70, 80])]

### Modify stud_avg2() to process the list of students

In [48]:
def stud_avg3(students):
    ''' student is the list of tuples'''
    
    for student in students:
        
        #unpack it
        roll, name, marks = student
        
        total = 0
        for mark in marks:
            total += mark    
            
        avg = total / len(marks)
        print("Roll No: ", roll, ' Name:', name, ' Average: ', avg)

In [50]:
#call it
stud_avg3(students_list)

Roll No:  1  Name: Rita  Average:  90.0
Roll No:  2  Name: Sweeta  Average:  85.0
Roll No:  3  Name: Annette  Average:  65.0

### Comparing tuples

In [51]:
(0, 1, 2) < (0, 3, 4)

True

In [52]:
(0, 10, 2) < (0, 3, 4)

False

In [53]:
(0, 1, 200000,100000) < (0, 3, 4,2)

True

### Walk Through: Print sorted list based on word length

text = 'hello c fine cpp' <br>
Output (increasing order): <br>
c <br>
cpp <br>
fine <br>
hello <br>

In [84]:
def sort_words(text):
    
    #split words
    words = text.split()
    t = list()
    
    # append words with their length, t contains set of tuples
    for word in words:
        t.append((len(word), word))
    
    # sort set of tuples in increasing order of length
    #t.sort()
    
    # sort set of tuples in decreasing order
    t.sort(reverse=False)
    
    res = list()
    
    # unpack it
    for length, word in t:
        res.append(word)
    
    print(res)

In [85]:
text = 'hello c fine cpp'
sort_words(text)

['c', 'cpp', 'fine', 'hello']