In [64]:
# Variables, expressions and statements

### Print statements

In [2]:
print('Hello, Datascience world')

Hello, Datascience world

In [3]:
print("Hello, Python")

Hello, Python

In [4]:
print('''Hello, Python''')

Hello, Python

In [5]:
print("""Hello, Python""")

Hello, Python

In [6]:
print('Hello, "Jayasurya"')

Hello, "Jayasurya"

## Variables

In [7]:
#Creation
mesg = 'hello'
age = 25
salary = 10000.00

In [18]:
# same var name to different values, no complaints
mesg= 'jai'
mesg

'jai'

## Print varaiable

In [19]:
print(mesg,age,salary)

jai 25 10000.0

In [20]:
#print multiple variable
print('mychat',mesg,'i am',age ,'years old','my salary is',salary)

mychat jai i am 25 years old my salary is 10000.0

In [21]:
print("My chat {0} I am  {1}years old and My salary is{2}".format(mesg,age,salary))

My chat jai I am  25years old and My salary is10000.0

### Values and data types

values: 100, 2.3, "hello"

type() - to know data types

In [22]:
type(100)

int

In [23]:
type(2.3)

float

In [24]:
type("hello")

str

In [25]:
type("10.5")

str

In [26]:
type(mesg)

str

## Multiple Assignment

In [ ]:
a, b = 10, 20 # multiple assignments
print(a, b)

In [ ]:
a

In [ ]:
b

In [ ]:
# can you swap a and b using multiple assignments?
a, b = b, a
print(a, b)

In [ ]:
a

In [ ]:
b

In [ ]:
print(name)

### help

In [ ]:
help('keywords')

## Operators

In [ ]:
a = 10
b = 5

In [ ]:
print(a+b)

In [28]:
a=10
b=2
print(a+b,a-b,a*b)

12 8 20

In [29]:
print(a/b)

5.0

In [30]:
print(a//b)

5

In [31]:
print(a%b)

0

In [32]:
print(a*b)

20

In [33]:
print(a/b) # floating point division in Python3

5.0

In [34]:
print(a%b)

0

In [35]:
print(a **b)

100

In [36]:
print(10*10*10*10*10)

100000

In [37]:
print(8 // 4) # floor division, integer division

2

## Example: Variables and names

In [38]:
cars = 100
space_in_a_car = 4.0
drivers = 30
passengers = 90
cars_not_driven = cars - drivers
cars_driven = drivers
carpool_capacity = cars_driven * space_in_a_car
average_passengers_per_car = passengers / cars_driven

print("There are", cars, "cars available.")
print("There are only", drivers, "drivers available.")
print("There will be", cars_not_driven, "empty cars today.")
print("We can transport", carpool_capacity, "people today.")
print("We have", passengers, "to carpool today.")
print("We need to put about", average_passengers_per_car,
"in each car.")

There are 100 cars available.
There are only 30 drivers available.
There will be 70 empty cars today.
We can transport 120.0 people today.
We have 90 to carpool today.
We need to put about 3.0 in each car.

## Type Conversion functions

int(), float(), str()

In [39]:
int(10.5)

10

In [40]:
num=2
num

2

In [41]:
type(num)

int

In [42]:
float(num)

2.0

In [43]:
int(salary) # no rounding

10000

In [44]:
int("123")

123

In [45]:
int(-3.9999)

-3

In [46]:
float(12)

12.0

In [47]:
float("12")

12.0

In [48]:
str(10)

'10'

## Order of operations

Brackets, **, * and /, + and -

In [49]:
print(2 ** 3)

8

In [50]:
print(2**3**2) # right associative

512

In [51]:
print(2**9)

512

In [52]:
print(2+3*2)

8

In [53]:

print(2*3+(2+3))

11

In [54]:
msg = 'hi'
print(msg + msg) # concatenation

hihi

In [55]:
print(msg * 3)

hihihi

## Example: Guess output manually and run your code

In [56]:
print("I will now count my chickens:")
print("Hens", 25 + 30 / 6)
print("Roosters", 100 - 25 * 3 % 4)
print("Now I will count the eggs:")
print(3 + 2 + 1 - 5 + 4 % 2 - 1 / 4 + 6)
print("Is it true that 3 + 2 < 5 - 7?")
print(3 + 2 < 5 - 7)
print("What is 3 + 2?", 3 + 2)
print("What is 5 - 7?", 5 - 7)
print("Oh, that's why it's False.")
print("How about some more.")
print("Is it greater?", 5 > -2)
print("Is it greater or equal?", 5 >= -2)
print("Is it less or equal?", 5 <= -2)

I will now count my chickens:
Hens 30.0
Roosters 97
Now I will count the eggs:
6.75
Is it true that 3 + 2 < 5 - 7?
False
What is 3 + 2? 5
What is 5 - 7? -2
Oh, that's why it's False.
How about some more.
Is it greater? True
Is it greater or equal? True
Is it less or equal? False

In [57]:
1%4

1

### Reading input values

In [58]:
print(name)

35

In [60]:
radius = float(input('Enter radius: '))
area = 3.1415 * radius * radius
print('Area: ', area)

Enter radius: 3
Area:  28.2735

#### Find Hours and mins

In [ ]:
total_secs = int(input("How many seconds, in total?: "))
hours = total_secs // 3600
secs_still_remaining = total_secs % 3600
minutes = secs_still_remaining // 60
secs_finally_remaining = secs_still_remaining % 60
print("Hrs=", hours, " mins=", minutes, "secs=", secs_finally_remaining)

## get input from user

In [61]:
age = int(input("How old are you? "))
height = input("How tall are you? ")
weight = float(input("How much do you weigh? "))

How old are you? 20
How tall are you? 6
How much do you weigh? 45.6

In [62]:
print("I am ",age, "years old","ny height",height)

I am  20 years old ny height 6

In [63]:
print(f"So, you're {age} old, {height} tall and {weight} heavy")

So, you're 20 old, 6 tall and 45.6 heavy