In [ ]:
# Lecture-1: Variables, expressions and statements

### Print statements

In [19]:
print('Hello, Datascience world')

Hello, Datascience world

In [20]:
print("Hello, Python")

Hello, Python

In [21]:
print('''Hello, Python''')

Hello, Python

In [22]:
print("""Hello, Python""")

Hello, Python

In [23]:
print('Hello, "Jayasurya"')

Hello, "Jayasurya"

### Values and data types

values: 100, 2.3, "hello"

type() - to know data types

In [11]:
type(100)

int

In [12]:
type(2.3)

float

In [13]:
type("hello")

str

In [14]:
type("10.5")

str

### Variables

In [26]:
#Creation
mesg = 'hello'
age = 25
salary = 10000.00

In [27]:
# Let us evaluate
mesg 
print(mesg)

hello

In [28]:
type(mesg)

str

In [29]:
age

25

In [19]:
salary

10000.0

In [30]:
type(age)

int

In [20]:
n=15
print(n)

15

In [31]:
# same var name to different values, no complaints
name = 'jai'
name

'jai'

In [32]:
name=35
name

35

In [36]:
a, b = 10, 20 # multiple assignments
print(a, b)

10 20

In [38]:
a

10

In [39]:
b

20

In [40]:
# can you swap a and b using multiple assignments?
a, b = b, a
print(a, b)

20 10

In [41]:
a

20

In [42]:
b

10

In [33]:
print(name)

35

## user get input

In [48]:
num=float(input("enter ur number"))

enter ur number7

In [50]:
num

7.0

In [49]:
type(num)

float

In [51]:
num=input()

7.8

In [52]:
num

'7.8'

In [53]:
type(num)

str

### help

In [26]:
help('keywords')

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               def                 if                  raise
None                del                 import              return
True                elif                in                  try
and                 else                is                  while
as                  except              lambda              with
assert              finally             nonlocal            yield
break               for                 not
class               from                or
continue            global              pass

## Operators

In [1]:
a = 10
b = 5

In [54]:
print(a+b)

30

In [56]:
a=10
b=2
print(a+b,a-b,a*b)

12 8 20

In [60]:
print(a/b)

5.0

In [61]:
print(a//b)

5

In [62]:
print(a%b)

0

In [55]:
print(a*b)

200

In [33]:
print(a/b) # floating point division in Python3

2.0

In [34]:
print(a%b)

0

In [4]:
print(a **b)

100000

In [40]:
print(10*10*10*10*10)

100000

In [41]:
print(8 // 4) # floor division, integer division

2

## Example: Variables and names

In [63]:
cars = 100
space_in_a_car = 4.0
drivers = 30
passengers = 90
cars_not_driven = cars - drivers
cars_driven = drivers
carpool_capacity = cars_driven * space_in_a_car
average_passengers_per_car = passengers / cars_driven

print("There are", cars, "cars available.")
print("There are only", drivers, "drivers available.")
print("There will be", cars_not_driven, "empty cars today.")
print("We can transport", carpool_capacity, "people today.")
print("We have", passengers, "to carpool today.")
print("We need to put about", average_passengers_per_car,
"in each car.")

There are 100 cars available.
There are only 30 drivers available.
There will be 70 empty cars today.
We can transport 120.0 people today.
We have 90 to carpool today.
We need to put about 3.0 in each car.

## Type Conversion functions

int(), float(), str()

In [64]:
int(10.5)

10

In [65]:
num=2
num

2

In [66]:
type(num)

int

In [67]:
float(num)

2.0

In [6]:
int(10.9999) # no rounding

10

In [7]:
int("123")

123

In [8]:
int(-3.9999)

-3

In [9]:
float(12)

12.0

In [10]:
float("12")

12.0

In [11]:
str(10)

'10'

## Order of operations

Brackets, **, * and /, + and -

In [12]:
print(2 ** 3)

8

In [13]:
print(2**3**2) # right associative

512

In [14]:
print(2**9)

512

In [15]:
print(2+3*2)

8

In [16]:
msg = 'hi'
print(msg + msg) # concatenation

hihi

In [17]:
print(msg * 3)

hihihi

## Example: Guess output manually and run your code

In [18]:
print("I will now count my chickens:")
print("Hens", 25 + 30 / 6)
print("Roosters", 100 - 25 * 3 % 4)
print("Now I will count the eggs:")
print(3 + 2 + 1 - 5 + 4 % 2 - 1 / 4 + 6)
print("Is it true that 3 + 2 < 5 - 7?")
print(3 + 2 < 5 - 7)
print("What is 3 + 2?", 3 + 2)
print("What is 5 - 7?", 5 - 7)
print("Oh, that's why it's False.")
print("How about some more.")
print("Is it greater?", 5 > -2)
print("Is it greater or equal?", 5 >= -2)
print("Is it less or equal?", 5 <= -2)

I will now count my chickens:
Hens 30.0
Roosters 97
Now I will count the eggs:
6.75
Is it true that 3 + 2 < 5 - 7?
False
What is 3 + 2? 5
What is 5 - 7? -2
Oh, that's why it's False.
How about some more.
Is it greater? True
Is it greater or equal? True
Is it less or equal? False

In [22]:
1%4

1

### Reading input values

In [ ]:
print(name)

In [ ]:
radius = float(input('Enter radius: '))
area = 3.1415 * radius * radius
print('Area: ', area)

#### Find Hours and mins

In [25]:
total_secs = int(input("How many seconds, in total?: "))
hours = total_secs // 3600
secs_still_remaining = total_secs % 3600
minutes = secs_still_remaining // 60
secs_finally_remaining = secs_still_remaining % 60
print("Hrs=", hours, " mins=", minutes, "secs=", secs_finally_remaining)

How many seconds, in total?: 4500
Hrs= 1  mins= 15 secs= 0

#### Print age and others

In [68]:
age = int(input("How old are you? "))
height = input("How tall are you? ")
weight = input("How much do you weigh? ")

How old are you? 21
How tall are you? 6
How much do you weigh? 45

In [71]:
print("I am ",age, "years old","ny height",height)

I am  21 years old ny height 6

In [72]:
print(f"So, you're {age} old, {height} tall and {weight} heavy")

So, you're 21 old, 6 tall and 45 heavy

## Exercises

1. Add parenthesis to the expression 6 * 1 - 2 to change its value from 4 to -6.

2. Evaluate the following numerical expressions in your head, then use the Python interpreter to check your results: 
5 % 2, 9 %5, 15 % 12, 12 % 15, 6 % 6, 0 % 7, 7 % 0

3. You look at the clock and it is exactly 2pm. You set an alarm to go off in 51 hours. At what time does the alarm
go off? (Hint: you could count on your fingers, but this is not what weâ€™re after. If you are tempted to count on
your fingers, change the 51 to 5100.)