#  Strings

## Index

In [1]:
# Index to access char, index starts at 0
fruit = 'banana mango'
letter = fruit[8]
print(letter)

a

In [2]:
print(fruit[-1])

o

In [3]:
a='Dealing with python data'
print(a[8:11])

wit

In [4]:
# Length
print(len(fruit))

12

In [5]:
# indexing possible with list too
odd_numbers = [1,3,5,7,9,11]
print(odd_numbers[3])

7

## Traversing string

In [9]:
# traversing string
for char in fruit:
    print(char, end=',')

b,a,n,a,n,a, ,m,a,n,g,o,

## String Slicing

In [5]:
fruit='banana Apple'
fruit

'banana Apple'

In [7]:
# String slicing
print(fruit[7:13])

Apple

In [8]:
print(fruit[0:])

banana Apple

In [9]:
print(fruit[0:2])

ba

In [10]:
print(fruit[:5])

banan

In [11]:
print(fruit[3:])

ana Apple

In [12]:
print(fruit[-2])

l

In [13]:
print(fruit[-6:])

 Apple

In [14]:
print(fruit[:-5])

banana

In [22]:
fruit

'banana Apple'

In [15]:
print(fruit[-10:-5])

nana

In [16]:
print(fruit[-5:-1])

Appl

In [23]:
print(fruit[:-6])

banana

## in and not in operators

In [24]:
print('x' in 'unix')

True

In [25]:
print('l' not in 'unix')

True

In [26]:
print('x' in 'windows')

False

### Walk Through

#### Search for a char in string

In [28]:
def search(string, substr):
    look = False
    if substr in string:
        look = True
    return look
search("bishop Heber college",'zebra')

False

In [29]:
def search(string, substr):
   # print("none")
    if substr in string:
        print("yes")
    else:
        print("no")
    return 
search("bishop Heber college",'Heber')

yes

In [30]:
# call ia
s = 'banana mango apple'
sub = 'mango'
if search(s, sub):
    print(sub, ' appears in ', s)
else:
    print(sub, ' does not appear in ', s)

yes
mango  does not appear in  banana mango apple

## Strings are immutable, you cannot modify

In [31]:
fruit[0] = 'J'

TypeError: 'str' object does not support item assignment

### Count a char from string

In [32]:
# Count how many a's in this string
word = 'banana mango apple'
search = 'a'
count = 0

for char in word:
    if char == search:
        count += 1

print('Character ', search, ' appears', count, ' times')

Character  a  appears 5  times

In [36]:
welcome = 'good morning, have a good day'
search='d'
count=0
for char in welcome:
    if char==search:
        count+=1
print("the ",count)
# get loc of char 'H'
print('Location: ', welcome.upper().find('D'))

the  3
Location:  3

### Practice all string methods

## Concatenation of functions

In [37]:

welcome = 'good morning, have a good day'

# get loc of char 'H'
print('Location: ', welcome.upper().find('D'))

Location:  3

### Remove vowels from a string

In [33]:
def remove_vowels(phrase):
    vowels = "aeiou"
    result = ""
    for letter in phrase:
        if letter.lower()  not in vowels:
            result += letter
    return result

In [34]:
# call function
result = remove_vowels('have a good day')
print(result)

hv  gd dy

### Split into tokens

In [35]:
welcome = 'good morning, have a good day'
t = welcome.split()
for token in t:
    print(token)

good
morning,
have
a
good
day

## Parsing Strings

In [36]:
# Find the position of a char
data = 'From stephen.marquard@gmail.com'
pos = data.find('@')
print(pos)

21

In [39]:
# Extract domain "uct.ac.za"
endpos = data.find(' ', pos)

print(data[pos+1:endpos])

gmail.co

In [40]:
data='From jaisurya.edu@gmail.com'
pos=data.find('.')
print(pos)

13

In [41]:

endpos=data.find(' ',pos)
print(data[pos+1:endpos])

edu@gmail.co

In [42]:
help(str.find)

Help on method_descriptor:

find(...)
    S.find(sub[, start[, end]]) -> int

    Return the lowest index in S where substring sub is found,
    such that sub is contained within S[start:end].  Optional
    arguments start and end are interpreted as in slice notation.

    Return -1 on failure.

## Formatted output

In [43]:
# constructs string
salary = 10500
print('Your salary is %d for the month of Auguest' %salary)

Your salary is 10500 for the month of Auguest

In [44]:
salary = 10500.55
print('Your salary is %f for the month of Auguest'%salary)

Your salary is 10500.550000 for the month of Auguest

In [45]:
salary = 10500.55
print('Your salary is %.2f  for the month of Auguest' %salary)

Your salary is 10500.55  for the month of Auguest

In [46]:
name = 'Peter'
print('Welcome %s, Have a good day!' %name)

Welcome Peter, Have a good day!

In [47]:
salary = 25000
name = 'Felix'
print('Welcome %s, your salary for August is %d rupees' %(name, salary))

Welcome Felix, your salary for August is 25000 rupees

#### format() method

In [70]:
phrase = "His name is {0}!".format("Arthur")
print(phrase)

His name is Arthur!

In [72]:
name = 'Jaisurya'
age = 20
phrase = "I am {1} and I am {0} years old.".format(age, name)
print(phrase)

I am Jaisurya and I am 20 years old.

In [73]:
phrase = "I am {0} and I am {1} years old.".format(age, name)
print(phrase)

I am 20 and I am Jaisurya years old.

In [74]:
salary1 = 10000.00
print('my salary is {0:.2f}'.format(salary))

my salary is 10500.55

In [42]:
salary2 = 10000.00
print('my salary is {0:f} for auguest and {1:f} for september'.format(salary, salary2))

my salary is 25000.000000 for auguest and 10000.000000 for september

In [43]:
print('my salary is {0:.2f} for auguest and {1:.2f} for september'.format(salary1, salary2))

my salary is 10000.00 for auguest and 10000.00 for september